:root {
  --background: #f8f5ee;
  --highlight: #FFD34E;
  --header2: #c27b00;
  --header3: #424363;
  --grey: #D2D2D8;
  --imageborder: #727381;
  --blockbg: #f5e6ba;
  --navyblue: #000B2C;
}

#navbar {
  margin: 0%;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--navyblue);
  z-index: 1;
  padding: 20px;
}

#navbar a {
  color: var(--header3);
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: var(--blockbg);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#navbar a:target {
  background-color: var(--grey);
}

div {
  margin: 10px 0px;
}

body {
  margin: 0% 0% 5%;
  background-color: var(--background);
}

h1,
h3,
cite {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-transform: uppercase;
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: start;
  font-size: 42px;
  font-weight: bolder;
  color: black;
  letter-spacing: 10px;
}

.header-pic {
  position: relative;
  display: block;
  max-width: 100%;
  height: 350px;
  background-image: url('./images/background-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 80%;
  box-shadow: 0px 15px 15px var(--grey);
}

.image-content {
  display: flex;
  flex-direction: row;
}
/* for width 800px or lower: make set block display */
@media(max-width:800px) { 
  .image-content {
    display: block;
  }
}

h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--header2);
  font-size: x-large;
}

h3 {
  color: var(--header3);
}

p,
li {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.7;
}

a {
  color: var(--navyblue);
  text-decoration: underline;
}

img {
  min-width: 20rem;
  max-width: 30%;
  max-height: 100%;
}

cite {
  padding-top: 1%;
  font-size: smaller;
  width: auto;
}

.section {
  padding-top: 2%;
}
